USE [master]
GO
/****** Object:  Database [BanQuanAoTT]    Script Date: 24/09/2025 5:51:29 AM ******/
CREATE DATABASE [BanQuanAoTT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BanQuanAoTT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BanQuanAoTT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BanQuanAoTT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BanQuanAoTT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BanQuanAoTT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BanQuanAoTT]
GO
/****** Object:  Table [dbo].[ChatLieu]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatLieu](
	[IdChatLieu] [int] IDENTITY(1,1) NOT NULL,
	[MaChatLieu] [varchar](50) NOT NULL,
	[TenChatLieu] [nvarchar](100) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdChatLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[IdDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](100) NOT NULL,
	[MaDM] [varchar](50) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChiKhachHang]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChiKhachHang](
	[IdDiaChi] [int] IDENTITY(1,1) NOT NULL,
	[IdKH] [int] NOT NULL,
	[DiaChiCuThe] [nvarchar](255) NOT NULL,
	[TinhThanh] [nvarchar](100) NOT NULL,
	[PhuongXa] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](20) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDiaChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[IdGH] [int] IDENTITY(1,1) NOT NULL,
	[MaGH] [varchar](50) NOT NULL,
	[IdKH] [int] NOT NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgaySua] [datetime] NULL,
	[IdTK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHangCT]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHangCT](
	[IdGHCT] [int] IDENTITY(1,1) NOT NULL,
	[IdGH] [int] NOT NULL,
	[IdSPCT] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGHCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[IdHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [varchar](50) NOT NULL,
	[IdKH] [int] NULL,
	[IdNV] [int] NULL,
	[IdKM] [int] NULL,
	[IdPT] [int] NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgaySua] [datetime] NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[LoaiHoaDon] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonCT]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonCT](
	[IdHDCT] [int] IDENTITY(1,1) NOT NULL,
	[IdSPCT] [int] NOT NULL,
	[IdHD] [int] NOT NULL,
	[IdVoucher] [int] NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgaySua] [datetime] NULL,
	[IdPT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHDCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Img]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Img](
	[IdImg] [int] IDENTITY(1,1) NOT NULL,
	[IdSPCT] [int] NOT NULL,
	[link] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdImg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[IdKH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [varchar](50) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[SDT] [varchar](20) NOT NULL,
	[IdTK] [int] NOT NULL,
	[TrangThai] [bit] NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[IdKM] [int] IDENTITY(1,1) NOT NULL,
	[MaKM] [varchar](50) NOT NULL,
	[TenKM] [nvarchar](255) NOT NULL,
	[HinhThucGiam] [varchar](20) NOT NULL,
	[MucGiam] [decimal](18, 2) NOT NULL,
	[GiaTriDonHangToiThieu] [decimal](18, 2) NULL,
	[GiamToiDa] [decimal](15, 2) NULL,
	[SoLuong] [int] NOT NULL,
	[DaSuDung] [int] NULL,
	[NgayBatDau] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai_KhachHang]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai_KhachHang](
	[IdKM] [int] NOT NULL,
	[IdKH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKM] ASC,
	[IdKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauSac]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSac](
	[IdMauSac] [int] IDENTITY(1,1) NOT NULL,
	[MaMauSac] [varchar](50) NOT NULL,
	[TenMauSac] [nvarchar](100) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMauSac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MoMoTransaction]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoMoTransaction](
	[IdMoMo] [int] IDENTITY(1,1) NOT NULL,
	[IdHD] [int] NULL,
	[OrderId] [nvarchar](100) NOT NULL,
	[RequestId] [nvarchar](100) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[OrderInfo] [nvarchar](255) NOT NULL,
	[RedirectUrl] [nvarchar](500) NULL,
	[IpnUrl] [nvarchar](500) NULL,
	[PayUrl] [nvarchar](1000) NULL,
	[QrCodeUrl] [nvarchar](1000) NULL,
	[DeepLink] [nvarchar](1000) NULL,
	[TransId] [nvarchar](100) NULL,
	[ResponseCode] [nvarchar](10) NULL,
	[Message] [nvarchar](255) NULL,
	[LocalMessage] [nvarchar](255) NULL,
	[PayType] [nvarchar](50) NULL,
	[TransactionStatus] [nvarchar](50) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
	[ExtraData] [nvarchar](max) NULL,
	[Signature] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMoMo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[IdNV] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [varchar](50) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[SDT] [varchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[IdTK] [int] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongThucThanhToan]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongThucThanhToan](
	[IdPT] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[IdSP] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [varchar](50) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[IdThuongHieu] [int] NOT NULL,
	[IdDM] [int] NOT NULL,
	[IdChatLieu] [int] NOT NULL,
	[NgayTao] [date] NOT NULL,
	[TongSoLuongSanPham] [int] NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[Img] [nvarchar](max) NOT NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamCT]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamCT](
	[IdSPCT] [int] IDENTITY(1,1) NOT NULL,
	[MaSPCT] [varchar](50) NOT NULL,
	[IdSP] [int] NOT NULL,
	[IdSize] [int] NOT NULL,
	[IdMauSac] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSPCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[IdSize] [int] IDENTITY(1,1) NOT NULL,
	[MaSize] [varchar](50) NOT NULL,
	[TenSize] [nvarchar](50) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[IdTK] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[IdThuongHieu] [int] IDENTITY(1,1) NOT NULL,
	[MaThuongHieu] [varchar](50) NOT NULL,
	[TenThuongHieu] [nvarchar](100) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdThuongHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[IdVoucher] [int] IDENTITY(1,1) NOT NULL,
	[MaVoucher] [varchar](50) NOT NULL,
	[TenVoucher] [nvarchar](100) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[HinhThucGiam] [varchar](20) NOT NULL,
	[GiamToiDa] [decimal](15, 2) NULL,
	[MucGiam] [decimal](5, 2) NULL,
	[DonGiaKhiGiam] [decimal](15, 2) NULL,
	[GiaGiam] [decimal](15, 2) NULL,
	[TrangThai] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher_SP]    Script Date: 24/09/2025 5:51:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher_SP](
	[IdVoucher_SP] [int] IDENTITY(1,1) NOT NULL,
	[IdVoucher] [int] NOT NULL,
	[IdSPCT] [int] NOT NULL,
	[TrangThai] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVoucher_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChatLieu] ON 

INSERT [dbo].[ChatLieu] ([IdChatLieu], [MaChatLieu], [TenChatLieu], [TrangThai]) VALUES (1, N'CL001', N'Cotton', 1)
INSERT [dbo].[ChatLieu] ([IdChatLieu], [MaChatLieu], [TenChatLieu], [TrangThai]) VALUES (2, N'CL002', N'Polyester', 1)
INSERT [dbo].[ChatLieu] ([IdChatLieu], [MaChatLieu], [TenChatLieu], [TrangThai]) VALUES (3, N'CL003', N'Jean', 1)
SET IDENTITY_INSERT [dbo].[ChatLieu] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([IdDM], [TenDM], [MaDM], [TrangThai]) VALUES (1, N'Áo thun', N'DM001', 1)
INSERT [dbo].[DanhMuc] ([IdDM], [TenDM], [MaDM], [TrangThai]) VALUES (2, N'Quần jeans', N'DM002', 1)
INSERT [dbo].[DanhMuc] ([IdDM], [TenDM], [MaDM], [TrangThai]) VALUES (3, N'Áo khoác', N'DM003', 1)
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DiaChiKhachHang] ON 

INSERT [dbo].[DiaChiKhachHang] ([IdDiaChi], [IdKH], [DiaChiCuThe], [TinhThanh], [PhuongXa], [SoDienThoai], [GhiChu], [TrangThai]) VALUES (1, 1, N'123 Trần Duy Hưng', N'Hà Nội', N'Cầu Giấy', N'0987654321', NULL, 1)
INSERT [dbo].[DiaChiKhachHang] ([IdDiaChi], [IdKH], [DiaChiCuThe], [TinhThanh], [PhuongXa], [SoDienThoai], [GhiChu], [TrangThai]) VALUES (2, 2, N'45 Lê Lợi', N'Hồ Chí Minh', N'Quận 1', N'0123456780', NULL, 1)
INSERT [dbo].[DiaChiKhachHang] ([IdDiaChi], [IdKH], [DiaChiCuThe], [TinhThanh], [PhuongXa], [SoDienThoai], [GhiChu], [TrangThai]) VALUES (3, 3, N'123', N'31231', N'3123', N'', N'', 1)
SET IDENTITY_INSERT [dbo].[DiaChiKhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([IdGH], [MaGH], [IdKH], [TrangThai], [NgayTao], [NgaySua], [IdTK]) VALUES (1, N'GH001', 1, 1, CAST(N'2025-09-23T21:01:20.890' AS DateTime), CAST(N'2025-09-23T21:01:20.890' AS DateTime), 2)
INSERT [dbo].[GioHang] ([IdGH], [MaGH], [IdKH], [TrangThai], [NgayTao], [NgaySua], [IdTK]) VALUES (2, N'GH002', 2, 1, CAST(N'2025-09-23T21:01:20.890' AS DateTime), CAST(N'2025-09-23T21:01:20.890' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHangCT] ON 

INSERT [dbo].[GioHangCT] ([IdGHCT], [IdGH], [IdSPCT], [SoLuong], [DonGia]) VALUES (1, 1, 1, 2, CAST(199000.00 AS Decimal(18, 2)))
INSERT [dbo].[GioHangCT] ([IdGHCT], [IdGH], [IdSPCT], [SoLuong], [DonGia]) VALUES (2, 1, 2, 1, CAST(299000.00 AS Decimal(18, 2)))
INSERT [dbo].[GioHangCT] ([IdGHCT], [IdGH], [IdSPCT], [SoLuong], [DonGia]) VALUES (3, 2, 3, 1, CAST(399000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[GioHangCT] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([IdHD], [MaHD], [IdKH], [IdNV], [IdKM], [IdPT], [NgayTao], [NgaySua], [TongTien], [LoaiHoaDon], [TrangThai]) VALUES (1, N'HD001', 1, 1, NULL, 1, CAST(N'2025-09-23T21:01:20.903' AS DateTime), CAST(N'2025-09-23T21:01:20.903' AS DateTime), CAST(597000.00 AS Decimal(18, 2)), N'Tại quầy', N'Đã thanh toán')
INSERT [dbo].[HoaDon] ([IdHD], [MaHD], [IdKH], [IdNV], [IdKM], [IdPT], [NgayTao], [NgaySua], [TongTien], [LoaiHoaDon], [TrangThai]) VALUES (2, N'HD002', 2, 1, NULL, 2, CAST(N'2025-09-23T21:01:20.903' AS DateTime), CAST(N'2025-09-23T21:01:20.903' AS DateTime), CAST(399000.00 AS Decimal(18, 2)), N'Tại quầy', N'Đã thanh toán')
INSERT [dbo].[HoaDon] ([IdHD], [MaHD], [IdKH], [IdNV], [IdKM], [IdPT], [NgayTao], [NgaySua], [TongTien], [LoaiHoaDon], [TrangThai]) VALUES (3, N'HD003', 1, 1, NULL, 1, CAST(N'2025-09-13T21:01:20.903' AS DateTime), CAST(N'2025-09-13T21:01:20.903' AS DateTime), CAST(1200000.00 AS Decimal(18, 2)), N'Trực tuyến', N'Chờ xác nhận')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDonCT] ON 

INSERT [dbo].[HoaDonCT] ([IdHDCT], [IdSPCT], [IdHD], [IdVoucher], [SoLuong], [DonGia], [ThanhTien], [NgayTao], [NgaySua], [IdPT]) VALUES (1, 1, 1, NULL, 2, CAST(199000.00 AS Decimal(18, 2)), CAST(398000.00 AS Decimal(18, 2)), CAST(N'2025-09-23T21:01:20.910' AS DateTime), CAST(N'2025-09-23T21:01:20.910' AS DateTime), 1)
INSERT [dbo].[HoaDonCT] ([IdHDCT], [IdSPCT], [IdHD], [IdVoucher], [SoLuong], [DonGia], [ThanhTien], [NgayTao], [NgaySua], [IdPT]) VALUES (2, 2, 1, NULL, 1, CAST(299000.00 AS Decimal(18, 2)), CAST(299000.00 AS Decimal(18, 2)), CAST(N'2025-09-23T21:01:20.910' AS DateTime), CAST(N'2025-09-23T21:01:20.910' AS DateTime), 1)
INSERT [dbo].[HoaDonCT] ([IdHDCT], [IdSPCT], [IdHD], [IdVoucher], [SoLuong], [DonGia], [ThanhTien], [NgayTao], [NgaySua], [IdPT]) VALUES (3, 3, 2, NULL, 1, CAST(399000.00 AS Decimal(18, 2)), CAST(399000.00 AS Decimal(18, 2)), CAST(N'2025-09-23T21:01:20.910' AS DateTime), CAST(N'2025-09-23T21:01:20.910' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[HoaDonCT] OFF
GO
SET IDENTITY_INSERT [dbo].[Img] ON 

INSERT [dbo].[Img] ([IdImg], [IdSPCT], [link]) VALUES (1, 1, N'https://images.pexels.com/photos/428340/pexels-photo-428340.jpeg')
INSERT [dbo].[Img] ([IdImg], [IdSPCT], [link]) VALUES (2, 1, N'https://images.pexels.com/photos/994517/pexels-photo-994517.jpeg')
INSERT [dbo].[Img] ([IdImg], [IdSPCT], [link]) VALUES (3, 1, N'https://images.pexels.com/photos/428338/pexels-photo-428338.jpeg')
SET IDENTITY_INSERT [dbo].[Img] OFF
GO
